HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Visual Studio ###
.vs

!/imgRs/eerDB.png
/imgRs/
/MessagerClient/MessagerClient/obj/
/MessagerClient/MessagerClient/bin/